
<html>
<body>
    <img src="{% static 'app/images/images.png' %}" width="10%"   alt="App Logo"/><br/>
    <h2>Login</h2>
    <a href="/">Back to home</a>
    <a href="/add">Register</a>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_user_id" class="control-group"> <label for="id_user_id" class="control-label requiredField">
        User Id<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="User Id" maxlength="64" class="textinput textInput" required="" id="id_user_id"> </div> </div> <div id="div_id_password" class="control-group"> <label for="id_password" class="control-label requiredField">
        Password<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="Password" maxlength="64" class="textinput textInput" required="" id="id_password"> </div> </div>


             <br>
             <button type="submit" value="Login">login</button>
    </form>
</body>
</html>