<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2>Registration Form</h2>

<form method="post">
  {% csrf_token %}

  <div class="container">
    <label for="username"><b>UserID</b></label>
    <input type="text" placeholder="Enter UserID" name="username" maxlength="16" required>

    <label for="phoneno"><b>Phone Number</b></label>
    <input type="tel" placeholder="Enter Phone Number" name="phoneno" maxlength="8" required>
    
    <label for="password1"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password1" maxlength="12" required>
    
    <label for="password2"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="password2" maxlength="12" required>
        
    <button type="submit">Register</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span class="text"><a href="/">Back to Home</a></span>
    <span class="text"><a href={% url 'login' %}>Already have an account?</a></span>
  </div>
</form>

  <div class="container">
      {% if messages %}
        {% for message in messages %}
          
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>  
  
</body>
</html>
